@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

main {
  margin-top: 5rem;
}
