@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans");
@import url("https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
